*{
    margin: 0px;
    padding: 0px;
    background-color: rgb(241, 236, 236);
}

#rr{
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: underline;
}


.progress{
    position: relative;
    height: 20px;
    width: 180px;
    border-radius: 10px;
    margin: 200px 680px ;
    border: 2px solid black;
    color: red;
}

.progress::before{
    content: "";
    position: absolute;
    /* border-radius: inherit;  same as the border radius*/
    border-radius: 10px;
    background-color: black;
    margin: 2px;

    inset: 0 100% 0 0;
    animation: pp 2s infinite;
    
}

@keyframes pp{
    100%{inset:0}
}